.footer
	background-image: url(../i/footerbg.jpg)
	background-size: cover
	height: 340px
	margin-top: 200px
	position: relative

	.footer__ddc
		background-image: url(../i/doubledeckercircle.png)
		position: absolute
		top: -100px
		left: 50%
		width: 263px
		height: 263px
		margin-left: -132px

	.footer__line
		position: absolute
		margin-top: -15px
		border-top: 10px solid #ed520a
		border-bottom: 2px solid #ed520a
		height: 15px
		width: 100%

	.text__list
		margin-top: 50px

	.text__list--offset
	  margin-left: 24px

	.footer__link
	  color: white
	  line-height: 3

	.text__list-item  i
	  font-size: 24px
	  width: 36px

	.copy__line
	  position: absolute
	  bottom: 20px
	  width: 100%
	  color: #bfbbbb
	  font-size: 12px

	.privacy__link
		color: #bfbbbb
		margin-left: 30px

	.terms__link
	  color: #bfbbbb
	  margin-left: 20px