.logo--homepage
  height: 100px
  line-height: 100px
  background: #ababb3

  .login

    .avatar
      border-radius: 50%
      width: 32px
      height: 32px
      margin-top: -7px

    i, span
      font-size: 1.4em
      margin: 0 .3em
      color: #383737