@charset 'UTF-8'

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,cyrillic)
@import "main_settings"

@import "foundation/scss/foundation"
@import "fontawesome/scss/font-awesome"

@import "colors"
@import "margins"


@import "logo--alone"
@import "logo--menu"
@import "logo--homepage"
@import "attractions__row"


.row
  margin: 0 auto
  max-width: 62.5rem

.row--ext
  margin: 0 auto
  max-width: 72.5em

body
  font-family: 'Open Sans', Arial, sans-serif
  color: $anotherblue

.delimiter
  height: 1em
  border-top: 1px dashed black
  border-bottom: 1px dashed black
  background: #E6EA69

