.row.attractions__row.text-center
    .large-2.columns
        a.attraction__link(href="#")
            img.attraction__img(src="i/doubledecker.png")
            span.attraction__text(style="color:#ff0063") Double Decker
    .large-2.columns
        a.attraction__link(href="#")
            img.attraction__img(src="i/helicopter.png")
            span.attraction__text(style="color:#cd8208") Helicopter
    .large-2.columns
        a.attraction__link(href="#")
            img.attraction__img(src="i/cruises.png")
            span.attraction__text(style="color:#0282b6") Cruises
    .large-2.columns
        a.attraction__link(href="#")
            img.attraction__img(src="i/landmarks.png")
            span.attraction__text(style="color:#799da5") Landmarks
    .large-2.columns
        a.attraction__link(href="#")
            img.attraction__img(src="i/experiences.png")
            span.attraction__text(style="color:#464645") Experiences
    .large-2.columns
        a.attraction__link(href="#")
            img.attraction__img(src="i/daytrips.png")
            span.attraction__text(style="color:#9b499e") Day Trips