//- createyourowntour.jade
extends ./layout.jade
block title
    title Style title
block content
    include logo--menu
    - var header = "CREATE YOUR OWN TOUR"
    include pageheaderbg
    include slider__reddots