.row--ext.featuredin
	h2.featuredin__title.text-center
		| Featured in
	.featuredin__images
		img.featuredin__img(src="i/featuredin1.png")
		img.featuredin__img(src="i/featuredin2.png")
		img.featuredin__img(src="i/featuredin3.png")
		img.featuredin__img(src="i/featuredin4.png")
		img.featuredin__img(src="i/featuredin5.png")