.footer
	.footer__line

	.footer__ddc
	


	.row
		.large-6.columns.footer__left
			.row
				.large-5.columns

				.large-5.columns

		.large-6.columns.footer__right
				.large-5.columns

				.large-5.columns
