.footer
	.footer__line

	.footer__ddc
	


	.row--ext

		.large-2.columns.large-offset-1
			.text__list
				.text__list-item
					a.footer__link
						| Chat
				.text__list-item
					a.footer__link
						| Call 800-669-0051
				.text__list-item
					a.footer__link
						| Help Center
		.large-2.left.columns
			.text__list
				.text__list-item
					a.footer__link
						| Getting Around
				.text__list-item
					a.footer__link
						| Group Tours
				.text__list-item
					a.footer__link
						| About
				.text__list-item
					a.footer__link
						| Press
		.large-2.columns
			| &nbsp;
		.large-2.columns
			.text__list.text__list--offset
				.text__list-item
					a.footer__link
						| Work with Us
				.text__list-item
					a.footer__link
						| Agent Program
				.text__list-item
					a.footer__link
						| Agent Login

		.large-2.columns
			.text__list
				.text__list-item
					a.footer__link
						i.fa.fa-location-arrow
						| Explore Diary
				.text__list-item
					a.footer__link
						i.fa.fa-facebook
						| Facebook
				.text__list-item
					a.footer__link
						i.fa.fa-twitter
						| Twitter
				.text__list-item
					a.footer__link
						i.fa.fa-instagram
						| Instagram

	.copy__line.text-center
			| Copyright ©2015   Gray Line New York Sightseeing.  All rights reserved.
			a.privacy__link Privacy
			a.terms__link Terms