//- index.jade
extends ./layout.jade

block title
    title Style title

block content
    include logo--alone
    .delimiter
    include logo--menu
    .delimiter
    include logo--homepage
    .delimiter
    include attractions__row
    .delimiter
    include popular-tours
    .delimiter
    include testimonials
    .delimiter
    include featuredin
    .delimiter
    include footer
    .delimiter