//- homepage.jade
extends ./layout.jade
block title
    title Style title
block content
    .owl-carousel-main
        .homepage__banner1
        .homepage__banner2
        .homepage__banner3

    .homepage__overlay
        include logo--homepage
        .row
            .attraction__wrapper--grey.large-12.columns
                .attraction__wrapper--rounded
                    include attractions__row
                .homepage__lead-text.text-center
                    | FIND A TOUR or CREATE A CUSTOM TOUR & SAVE MONEY
                    a.homepage__link--red(href="createyourowntour.html") START CREATING
                .homepage__slider-text
                    | Explore NY with the most trusted tour company. With over 100k+ tourists who have
                    br
                    | toured with us & 120 tours running daily - We have earned the #1 spot for a reason.

    include popular-tours

    include testimonials

    include featuredin

    include footer