.logo--homepage
    .row--ext
        .large-3.columns.logo
            a(href="/")
                img(src="i/logo.png")
        .large-6.columns
        .large-3.columns.login.text-right
            i.fa.fa-search
            img.avatar(src="i/avatar.png")
            span.name Tina
            i.fa.fa-caret-down
            i.fa.fa-heart
            i.fa.fa-suitcase