
.row--ext.logo--menu
   .large-3.columns.logo
      a(href="/")
         img(src="i/logo.png")
   .large-6.columns.menu.text-center
      ul.menu__list
         li.menu__item
            a.menu__link(href="tours.html") Tours
         li.menu__item
            a.menu__link(href="experiences.html") Experiences
         li.menu__item
            a.menu__link(href="daytrips.html") Day Trips
   .large-3.columns.login.text-right
      i.fa.fa-search
      span.login__text Login
      i.fa.fa-suitcase