.popular-tours
  .row
    .large-12.columns
        h2.tours__title See Popular Tours
        .owl-carousel
            .item__wrapper
                p.popular__text.popular__text--red
                    | FreshStyle
                    br
                    | New York
                img.popular__image(src="i/product_image1.png")
            .item__wrapper
                p.popular__text.popular__text--orange
                    | Classic
                    br
                    | Helicopter
                img.popular__image(src="i/product_image2.png")
            .item__wrapper
                p.popular__text.popular__text--blue
                    | Sightseeing
                    br
                    | Ferry
                img.popular__image(src="i/product_image3.png")
            .item__wrapper
                p.popular__text.popular__text--violet
                    | Empire State
                    br
                    | Building
                img.popular__image(src="i/product_image4.png")
            .item__wrapper
                p.popular__text
                    | FreshStyle
                    br
                    | New York
                img.popular__image(src="i/product_image1.png")
            .item__wrapper
                p.popular__text
                    | FreshStyle
                    br
                    | New York
                img.popular__image(src="i/product_image2.png")
            .item__wrapper
                p.popular__text
                    | FreshStyle
                    br
                    | New York
                img.popular__image(src="i/product_image3.png")
            .item__wrapper
                p.popular__text
                    | FreshStyle
                    br
                    | New York
                img.popular__image(src="i/product_image4.png")

