.slider__reddots
    .row
        .owl-carousel__reddots
            .sr__item1
                p.sr__textblock
                    | Save $$ by creating a custom tour. Simply choose
                    br
                    | which attractions you want to see and add to the
                    br
                    | suitcase.

            .sr__item2
                p.sr__textblock
                    | Save $$ by creating a custom tour. Simply choose
                    br
                    | which attractions you want to see and add to the
                    br
                    | suitcase.

            .sr__item3
                p.sr__textblock
                    | Save $$ by creating a custom tour. Simply choose
                    br
                    | which attractions you want to see and add to the
                    br
                    | suitcase.

            .sr__item4
                p.sr__textblock
                    | Save $$ by creating a custom tour. Simply choose
                    br
                    | which attractions you want to see and add to the
                    br
                    | suitcase.
